<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Web desginer</title>
  <% Object.keys(style).forEach(function(key){ -%>
  <link rel="stylesheet" href="<%= style[key].url %>">
  <% }); -%>
</head>
<body>
  <div id="app-main" style="height:100%;width:100%">
    <%- nodes %> 
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <% Object.keys(script).forEach(function(key){ -%>
  <script src="<%= script[key].url %>"></script>
  <% }); -%>
  <%= inlineScript %>
  <script>
    new Vue({
      el: "#app-main"
    })
  </script>
</body>
</html>